<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" 
      internalLogFile="C:\temp\console-example-internal.log"
      internalLogLevel="Trace"
      throwExceptions="false">

  <!-- the targets to write to -->
  <targets>
    <target name="blackHole" xsi:type="Null" formatMessage="false" />

    <target name="logfileTarget" xsi:type="File"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring}"
            fileName="${basedir}/logs/Log.current.txt"
            archiveFileName="${basedir}/logs/archives/Log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering = "Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="9" />

    <target name="consoleTarget" xsi:type="Console"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="System.Net.*" minlevel="Info" writeTo="logfileTarget" final="true" />
    <logger name="*" minlevel="Debug" writeTo="logfileTarget" />
    <logger name="*" minlevel="Info" writeTo="consoleTarget" />
  </rules>

</nlog>